# Node
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
.vscode/

# Project
.gemini/
.agent/

# Assets
*.jpg
*.png
!images/*.png
!images/*.jpg
!assets/*.svg
!assets/*.png
!assets/*.jpg
!assets/*.ttf
